In [1]:
a = "yash"
print(len(a))

l = [1,2,3,6,54,"yash"]
print(len(l))

def test():
    print("this is my function")

b = "mohite"
print(type(b))

def test1():
    return 5

print(test1())

d = test1()
print(test1())


def test3():
    return 10

def test4():
    return "this is my function ineuron"
   

print(test4())

def test5():
    print("this is my python code")

    
def test6():
    return 1,3,2,54,[1,25,4],(1,4,5,)

print((type(test6())))

print(test6()[5])

def test7():
    return 1,3,[1,25,4],(1,4,5,)

4
6
<class 'str'>
5
5
this is my function ineuron
<class 'tuple'>
(1, 4, 5)

In [2]:
test7()

(1, 3, [1, 25, 4], (1, 4, 5))

In [3]:
a1,b1,c1,d1, = test7()

In [4]:
a1

1

In [5]:
b1

3

In [6]:
c1

[1, 25, 4]

In [7]:
d1

(1, 4, 5)

In [8]:
def test8():
    a = 5+8
    return a

In [9]:
test8()

13

In [10]:
type(test8())

int

In [11]:
def test9():
    gr = [1,2,3,6,5,4,78]
    a=0
    for i in gr:
        if type(i) == int:
            a = i+a
    return(a)

In [12]:
test9()

99

In [13]:
def test10(a,b):
    return a+b

In [14]:
test10("yash","mohite")

'yashmohite'

In [15]:
test10(55,89)

144

In [16]:
l1 = [4,5,7,8,9,4,6,"yash",4.5]
d = []
c = []

for i in l1:
    if type(i) == str :
         d.append(i)
    elif type(i) == int:
        c.append(i)
    else:
        print()

In [17]:
d

['yash']

In [18]:
c

[4, 5, 7, 8, 9, 4, 6]

In [19]:
def test11(d,c):
    l1 = [4,5,7,8,9,4,6,"yash",4.5]
    d = []
    c = []

    for i in l1:
        if type(i) == str :
             d.append(i)
        elif type(i) == int:
            c.append(i)
    return d,c

In [20]:
l1 = [4,5,7,8,9,4,6,"yash",4.5]

In [21]:
def test12(d):
    '''this is my function saprate string from list'''
    d = []
    for i in l1:
        if type(i) == str :
             d.append(i)
    return d

In [22]:
l2 = [4,5,7,8,9,4,6,"yash",4.5]
test12(l2)

['yash']

In [23]:
#build len function
def lenth_function(s):
    '''This is the programm to find the length of string'''
    count = 0
    for i in s:
        #if type(i) == str:
            count=count+1
    return count

In [24]:
lenth_function("yash mohite")

11

In [25]:
# build index function
lst = [1,2,3,6,5,4,78,9,10,"yash","mohite"]

In [26]:
def ind_function(ls):
    for i in range(0,len(ls)):
        print(ls[i],": ",i)

In [27]:
ind_function(lst)

1 :  0
2 :  1
3 :  2
6 :  3
5 :  4
4 :  5
78 :  6
9 :  7
10 :  8
yash :  9
mohite :  10

In [28]:
import socket
def GET_IPA():
    ip = socket.gethostbyname(socket.gethostname())
    return ip

In [29]:
GET_IPA()

'192.168.0.103'

In [30]:
# import os

# os.system()

# # /s shutdown
# # /r restart
# # /t timer

In [31]:
lst = [1,2,3,6,5,4,78,9,10,"yash","mohite"]
def strmultiply(lm):
    m=1
    
    for i in lm:
        if type(i) == int or type(i) == float:
            m=m*i
    return m

In [32]:
strmultiply(lst)

5054400

In [33]:
def test13(*args):
    return list(args)

In [34]:
test13("yash",1,2,5,6,4,7,8,)

['yash', 1, 2, 5, 6, 4, 7, 8]

## Dictionary

In [35]:
dit = {"key1":"yash","key2":[1,2,3,6,5,4]}

In [36]:
d = {2567:"isha"}

In [37]:
d1= {(1,2,3,65,):"mohite"}

In [38]:
d2 = {"name":"yash", "org":"fresher","mail":"yash@gmail.com"}

In [39]:
d2

{'name': 'yash', 'org': 'fresher', 'mail': 'yash@gmail.com'}

In [40]:
d2['mail']

'yash@gmail.com'

In [41]:
list(d2.keys())

['name', 'org', 'mail']

In [42]:
d2.values()

dict_values(['yash', 'fresher', 'yash@gmail.com'])

In [43]:
d2.items()

dict_items([('name', 'yash'), ('org', 'fresher'), ('mail', 'yash@gmail.com')])

In [44]:
d8 = {"name":"isha", "bf" :{"andheri":"yash","puna":"lavda","nashik":"lasan","bandra":"puchi"}}

In [45]:
d8["bf"]

{'andheri': 'yash', 'puna': 'lavda', 'nashik': 'lasan', 'bandra': 'puchi'}

In [46]:
d8["bf"]["andheri"]

'yash'

In [47]:
list(d8["bf"].values())

['yash', 'lavda', 'lasan', 'puchi']

In [48]:
def give_listindict(d):
    
    l = []
    for i in d.keys():
        if type(d8[i]) == dict:
               l.append(d[i].values())
    return l

In [49]:
l

[1, 2, 3, 6, 54, 'yash']

In [50]:
give_listindict(d8)

[dict_values(['yash', 'lavda', 'lasan', 'puchi'])]

In [51]:
# d8 = d8["phone"] = (245,6,8,9,7777)

In [52]:
d8["name"]="yash"

In [53]:
d8

{'name': 'yash',
 'bf': {'andheri': 'yash',
  'puna': 'lavda',
  'nashik': 'lasan',
  'bandra': 'puchi'}}

In [54]:
# del d8["phone"]

In [55]:
d8.pop("bf")

{'andheri': 'yash', 'puna': 'lavda', 'nashik': 'lasan', 'bandra': 'puchi'}

In [56]:
d8

{'name': 'yash'}

## continue function

In [57]:
def test14(**kwargs):
    
    return kwargs

In [58]:
test14(a=5,b=9)

{'a': 5, 'b': 9}

In [59]:
def test15(a):
    return a

def test16(b):
    return b

def test17(func):
    return func("yash")

In [60]:
test17(test15)

'yash'

In [61]:
test17(test16)

'yash'

In [62]:
def test18(function):
    def test19():
        print("i m inside test19")
        function()
    return test19

In [63]:
test18(test13)

## Decorators

In [64]:
@test18
def test20():
    print("this line will print anyway")

In [65]:
test20()

i m inside test19
this line will print anyway

In [66]:
test18(test20)

In [67]:
import os
def test20(func):
    def test21():
        func()
        print(os.getcwd())
    return test21

In [68]:
@test18
@test20
def test22():
    print("this is use of decarotar")

In [69]:

test22()

i m inside test19
this is use of decarotar
C:\Users\yash mohite\OneDrive\Desktop\ineuron

In [70]:
import time

def tm(func):
    def test23():
        print("this is my functional time")
        start = time.time()
        func()
        end = time.time()
        print(end-start)
    return test23

In [71]:
@tm
def test24():
    '''this is the function will take decirater'''
    l = [4,5,6,9,8,7]
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [72]:
test24()

this is my functional time
0.0

In [73]:

def tf(func):
    def tf1():
        print("i made new functiom")
        func()
        print(func())
        
        #print("function exicute")
        return func()
    return tf1

In [74]:
@tf
def tf2():
    print("this is my tf2")

In [75]:
tf2()

i made new functiom
this is my tf2
this is my tf2
None
this is my tf2

In [76]:
@tf
def tf3():
    return 5+5

In [77]:
type(tf3())

i made new functiom
10

int

In [78]:
tf3() +5

i made new functiom
10

15

In [79]:
def deco(funci):
    def rap():
        funci()
        print(funci())
        print("this is deco")
        return funci()
    return rap()

In [80]:
@deco
def final():
    return 4+5

9
this is deco

In [81]:
def tf(func):
    def tf1(*args,**kwargs):
        print("i made new functiom")
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        
        #print("function exicute")
        return func(*args,**kwargs)
    return tf1

In [82]:
@tf
def test47(a,b,c):
    return a+b+c

In [83]:
test47("yash","isha","mohite")

i made new functiom
yashishamohite

'yashishamohite'

In [84]:
@tf
def kgs(**kwargs):
    return kwargs

In [85]:
kgs(A=56, B=96,C=8974)

i made new functiom
{'A': 56, 'B': 96, 'C': 8974}

{'A': 56, 'B': 96, 'C': 8974}

## Lambda function

In [86]:
c = lambda x,y: x+y # lambda can store in veriable

In [87]:
c(6,6)

12

In [88]:
c("yash","mohite")

'yashmohite'

In [89]:
y = lambda a,b,c,d: a*b-c/d

In [90]:
y(5,4,8,6)

18.666666666666668

In [91]:
x = lambda *args:args

In [92]:
x(51,5,6,9,7)

(51, 5, 6, 9, 7)

## map and reduce and filter functioin

In [93]:
#map

In [94]:
l = [1,2,3,6,5,4,7,8,9]
eg = []
for i in l:
    eg.append(i+10)

In [95]:
eg

[11, 12, 13, 16, 15, 14, 17, 18, 19]

In [96]:
def plus(a):
    return a+10

In [97]:
list(map(plus,l))

[11, 12, 13, 16, 15, 14, 17, 18, 19]

In [98]:
list(map(lambda a : a+10,l))

[11, 12, 13, 16, 15, 14, 17, 18, 19]

In [99]:
n = lambda a : a+10

In [100]:
list(map(n,l))

[11, 12, 13, 16, 15, 14, 17, 18, 19]

In [101]:
o = ["yash","isha","mohite"]

In [102]:
o1 = []
for i in o:
    o1.append(i.upper())

In [103]:
o1

['YASH', 'ISHA', 'MOHITE']

In [104]:
list(map(lambda a:a.upper(),o))

['YASH', 'ISHA', 'MOHITE']

In [105]:
f = list(map(str.upper,o))

In [106]:
f

['YASH', 'ISHA', 'MOHITE']

In [107]:
list(map(lambda a: len(a),o))

[4, 4, 6]

In [108]:
list(map(len,o))

[4, 4, 6]

In [109]:
r = [1,5,4,7,8,5,6,9,2,3,6,5]

In [110]:
r1 = []
for i in r:
    if i%2 == 0:
        r1.append(i)

In [111]:
r1

[4, 8, 6, 2, 6]

In [112]:
[i for i in r if i%2 == 0]

[4, 8, 6, 2, 6]

In [113]:
u = lambda a: a if a%2 == 0 else None

In [114]:
list(map(u,r))

[None, None, 4, None, 8, None, 6, None, 2, None, 6, None]

In [115]:
list(filter(u,r))# Filter function work on true or false

[4, 8, 6, 2, 6]

In [116]:
def tst26(a):
    if a%2 == 0:
        return True
    else:
        return False

In [117]:
tst26(18)

True

In [118]:
tst26(85)

False

In [119]:
list(filter(tst26,r))

[4, 8, 6, 2, 6]

In [120]:
#reduce function
r1 = [1,5,4,7,8,5,6,9,2,3,6,5]

In [121]:
sum(r1)

61

In [122]:
from functools import reduce

In [125]:
reduce(lambda x,y: x*y,r1)

54432000

In [126]:
reduce(lambda x,y,z: x*y*z,r1)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [130]:
q = [2]
reduce(lambda x,y,z: x*y,q)

2

In [131]:
def tst27(a,b) -> int:
    '''this is my doc string to give hint'''
    return a+b

In [132]:
tst27(5,6)

11

In [137]:
def squr(n):
    return n*n

In [140]:
squr(5)

25

In [152]:
def outer():
    message = ("isha madarchoad aahe")
    
    def inner():
        print(message)
    return inner()

In [153]:
m = outer()

isha madarchoad aahe

In [179]:

def display(func):
    def inner1():
        print("chala",func.__name__)
        func()
        print("finish")
    return inner1()

In [180]:
display(outer)

chala outer
isha madarchoad aahe
finish

In [237]:

def display1(func):
    def inner2():
        print("chala",func.__name__)
        func()
        print("finish")
    return inner2

In [238]:

def smart_divi(function):
    def inn(a,b):
        print("im smart dividion")
        function(a,b)
    return inn

In [239]:
@display1
@smart_divi
def divi(a,b):
    return a/b

In [240]:
divi(5,5)

TypeError: display1.<locals>.inner2() takes 0 positional arguments but 2 were given