In [1]:
#shopkepper
sum = 0
while(True):
    user_input = input("Enter the price or press q to quit: ")
    if user_input != "q":
        sum = sum + int(user_input)
        print(f"Order total so far: {sum}")
            
    else:
        if sum > 1:
            print(f"Your total Bill is: {sum} , Thanks for shopping!")
        else:
            print("Plese come back again")
           
        print("Thanks for using our calculator")
        break

Enter the price or press q to quit: q
Plese come back again
Thanks for using our calculator

In [2]:
# factorial and traling zeros
def factorial(num):
    if num == 0:
        return 1
    
    else:
        return num * factorial(num - 1)
    
def factorialTralingZeros(num):
    count = 0
    i = 5
    while(number//i !=0):
        count += int(number/i)
        i = i*5
    return count
    

if __name__ == "__main__":
    number = int(input("Enter number: "))
    print(factorialTralingZeros(number))

Enter number: 8
1

In [3]:
# with open("currency.txt.txt")as f:
#     lines = f.readlines()
# #read data
# lines
# # split data with \t
# # conver data in to dict and take only 2 values
# dictionary = {}
# for i in lines:
#     parsed = i.split("\t")
#     dictionary[parsed[0]] = parsed[1]
# amount = int(input("Enter Amount: "))
# print("Enter the name of currency you want to convert this amount?,Option Avalable: ")
# print([i for  i in dictionary.keys()])# use list comprihension to show this options
# currency = input("please enter one of this values: ")

# print(f"{amount} INR is equal to {amount * float(dictionary[currency])} {currency}")

In [4]:
import time
from plyer import notification

if __name__ == "__main__":
    notification.notify(
        title = "Please Drink Water now",
        message = "Pani pi le bosidake varna kidni stone aa jayega",
        timeout = 5
    
    )

In [5]:
# def currency_converator():
#     with open("currency.txt.txt")as f:
#         lines = f.readlines()
#     #read data
#         lines
#     # split data with \t
#     # conver data in to dict and take only 2 values
#     dictionary = {}
#     for i in lines:
#         parsed = i.split("\t")
#         dictionary[parsed[0]] = parsed[1]
#     amount = int(input("Enter Amount: "))
#     print("Enter the name of currency you want to convert this amount?,Option Avalable: ")
#     print([i for  i in dictionary.keys()])# use list comprihension to show this options
#     currency = input("please enter one of this values: ")

#     print(f"{amount} INR is equal to {amount * float(dictionary[currency])} {currency}")

In [6]:
# Write a function that takes a list of numbers and returns the sum of all even numbers in the list.
def sumOfeven(lst):
    output = 0
    for i in lst:
        if i%2 == 0:
            output += i
    return output

In [7]:
sumOfeven([1,2,5,3,6,9,8,7,4,5,6,3,3,2])

28

In [8]:
# Write a function that takes a string as input and returns the number of words in the string.
def count_string(string):
    output = len(string.split(" "))
    return output

In [9]:
count_string("The quick brown fox jumps over the lazy dog.")

9

In [10]:
#Write a function that takes a string and a character as
#input and returns the number of times the character appears in the string.
def count_char(string,letter):
    output = []
    for i in string:
        if i == letter:
            output.append(i)
    return len(output)

In [11]:
count_char("hello world", "o")

2

In [12]:
# Write a function that takes a list of strings as
# input and returns the shortest string in the list.

def short_string(lst):
    shortest = lst[0]
    for i in lst:
        if len(i) < len(shortest):
            shortest = i
    return shortest

In [13]:
short_string(["apple", "banana", "pear", "grapefruit"])

'pear'

In [14]:
# sum_list: This function takes a list of numbers as input and
# returns the sum of all the numbers in the list.
def sum_list(lst):
    output = 0
    for i in lst:
        output +=i
    return output

In [15]:
sum_list([1,2,5,992])

1000

In [16]:
# reverse_string: This function takes a string 
# as input and returns the string in reverse order.
def reverce_string(s):
    output = s[::-1]
    return output

In [17]:
reverce_string("yashh")

'hhsay'

In [18]:
# is_palindrome: This function takes a string as 
# input and returns True if the string is a palindrome (reads the same forwards and backwards), and False otherwise.
# python

def is_palindrome(s):
    output = s == s[::-1]
    return output

In [19]:
is_palindrome("yashh")

False

In [20]:
#factorial
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num-1)

In [21]:
factorial(10)

3628800

In [22]:
mylist = [1,2,3,6,5,4]

In [23]:
mytuple = (1,2,3,6,5,4)

In [24]:
print(mylist)
print(mytuple)

[1, 2, 3, 6, 5, 4]
(1, 2, 3, 6, 5, 4)

In [25]:
a = [lambda x,y:a*b]

In [26]:
try:
    result = 5/0
except ZeroDivisionError as e:
    print(e)
    print("cannot print")

division by zero
cannot print

In [27]:
# Write a Python function to check if a string is a palindrome or not.
def palandrom_is(x):
    x = x.lower()
    output = x == x[::-1]
    return output

In [28]:
palandrom_is("malayalam")

True

In [29]:
#Write a Python function to find the first non-repeating character in a string.
from collections import Counter
def first_nonrepeating(x):
    char_count = Counter(x)
    for i in x:
        if char_count[i] == 1:
            return i
    return None

In [30]:
first_nonrepeating("Write a Python function to find")

'W'

In [31]:
# Write a Python function to merge two sorted lists into a single sorted list.
def merge_sorted_list(lst1,lst2):
    s = lst1+lst2
    output = sorted(s)
    return output

In [32]:
merge_sorted_list([1,2,3,5,7,4,89],[4,5,6,9,8,4,4,4,5,2,])

[1, 2, 2, 3, 4, 4, 4, 4, 4, 5, 5, 5, 6, 7, 8, 9, 89]

In [33]:
# Write a Python function to check if a given number is prime or not.
def is_prime(num):
    output = False
    for i in range(2,num):
        output = True
        
    if not output:
        return f"{num} is prime number"
    else:
        return f"{num} is not prime number"

In [34]:
is_prime(563)

'563 is not prime number'

In [35]:
def find_second_largest(num,n):
    num.sort(reverse=True)
    return num[:n]

In [36]:
find_second_largest([100,55,148,631,8,69,51],2)

[631, 148]

In [37]:
# Write a Python function to remove duplicates from a list.
def removeDuplicates(x):
    output = list(set(sorted(x)))
    return output

In [38]:
removeDuplicates([1,2,3,6,54,7,8,9,5,5,6,3,3,2,2,14,4,4,])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 14, 54]

In [39]:
def count_vowel(s):
    vowels="aeiouAEIOU"
    output = []
    for i in s:
        if i in vowels:
            output.append(i.count(i))
    return len(output)

In [40]:
count_vowel("yash mohite,YASH MOHITE")

8

In [41]:
#print pattern
def pattern(x):
    for i in range(1,x+1):
        for j in range(1,i+1):
            output =  print("*",end=" ")
        print()
    return output

In [42]:
pattern(4)

*
* *
* * *
* * * *

In [43]:
def squre_pattern(x):
    for i in range(x):
        output = print("*"*x)
    return output

In [44]:
squre_pattern(8)

********
********
********
********
********
********
********
********

In [45]:
# def dimond_pattern(x):
#     for i in range(x):
#         print(" "*(x-i-1) + "*"*(2*i+1))
#     for i in range(n-2,-1,-1):
#         print(" "*(n-i-1)+"*"(2*i+1))

In [46]:
# diamond_pattern(5)

In [47]:
def number_pattern(x):
    for i in range(1,x+1):
        for j in range(1,i+1):
            output = print(j,end=" ")
        print()
    return output

In [48]:
number_pattern(10)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [49]:
def fibonacci_patern(x):
    a,b = 0,1
    for i in range(x):
        print(b*" *")
        a,b = b,a+b

In [50]:
fibonacci_patern(5)

 *
 *
 * *
 * * *
 * * * * *

In [51]:
# replace vowels
def replaceVowels(string,repl):
    vowels = ["a","e","i","o","u"]
    for i in string:
        if i in vowels:
            string = string.replace(i,repl)
    return string

In [52]:
replaceVowels("Yash mohite","i")

'Yish mihiti'

In [53]:
# fatch vowels
def fetch_vowels(string):
    vowels = ["a","e","i","o","u","A","E","I","O","U"]
    output = []
    for i in string:
        if i in vowels:
            output.append(i)
    return str(output).lower()

In [54]:
fetch_vowels("YASh mohite")

"['a', 'o', 'i', 'e']"

In [55]:
# saprate data types
def saprateDataTypes(data,n):
    output = []
    for i in data:
        if type(i) == n:
            output.append(i)
    return output

In [56]:
saprateDataTypes([1,2,3,5,4,78,"yash","isha","ankita","patade"],str)

['yash', 'isha', 'ankita', 'patade']

In [57]:
def saprateOddEven(lst):
    even = []
    odd = []
    for i in lst:
        if i%2 == 0:
            even.append(i)
        else:
            odd.append(i)
    return f"even numbers: {even}  odd number: {odd}"

In [58]:
saprateOddEven(range(1,20))

'even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18]  odd number: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]'

In [59]:
def checkPrime(num):
    flag = False
    for i in range(2,num):
        if num%i == 0:
            flag = True
            
    if not flag:
        return f"{num} is prime"
    else:
        return f"{num} is not prime"

In [60]:
checkPrime(11)

'11 is prime'

In [61]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num-1)

In [62]:
factorial(11)

39916800

In [63]:
def factorialSquence(num):
    if num == 0:
        return 1
    elif num == 1:
        return 1
    else:
        return factorialSquence(num - 1)+factorialSquence(num-2)

In [64]:
for i in range(1,10):
    print(factorialSquence(i))

1
2
3
5
8
13
21
34
55

In [65]:
def countLatter(string):
    return len(string.replace(" ",""))

In [66]:
countLatter("yash monite")

10

In [67]:
def sort_words(string):
    s = string.split(" ")
    for i in range(len(s)):
        output = sorted(s)
        return " ".join(output)

In [68]:
sort_words("yash mohite")

'mohite yash'

In [69]:
def sortLetters(string):
    output = "".join(sorted(string))
    return output

In [70]:
sortLetters("yash mohite")

' aehhimosty'

In [71]:
def remove_punc(string):
    empty = []
    output = []
    punc  = ["~","!","@","#","$","%","^","&","*","/","*","-","+","?","<",">","?"]
    for i in string:
        if i in punc:
            empty.append(i)
        else:
            output.append(i)
    return "".join(output)

In [72]:
print(remove_punc("!@#$yash$ @mohite"))
print(remove_punc("Hello! How are you today? #good"))

yash mohite
Hello How are you today good

In [73]:
import string
def RP(s):
    remove = str.maketrans("","",string.punctuation)
    no_p = s.translate(remove)
    return no_p

In [74]:
RP("!@#$yash$ @mohite}]/14")

'yash mohite14'

In [75]:
def fibonacci(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibonacci(num-1) + fibonacci(num-2)

In [76]:
fibonacci(20)

6765

In [77]:
for i in range(0,21):
    print(fibonacci(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [78]:
def maxNumber(lst):
    output = max(lst)
    return output

In [79]:
maxNumber([1,2,3,4,5,7,8,9,1000])

1000

In [80]:
import numpy as np

In [81]:
def multiply_list(lst):
    num = 1
    for i in lst:
        num *= i
    return num

In [82]:
multiply_list([4,2])

8

In [83]:
def multiplyeven(lst):
    output = 1
    for i in lst:
        if i%2 == 0:
            output*=i
    return output

In [84]:
multiplyeven([5,8,9,6,5,4,1,23])

192

In [85]:
def n_large_num(num,n):
    output = num.sort(reverse=True)
    return num[:n]

In [86]:
n_large_num([1,2,3,6,58],1)

[58]

In [87]:
def repatation(rep):
    output = []
    for i in rep:
        if rep.count(i) > 1:
            output.append(i)
    return len(output)

In [88]:
repatation([111,2,3,6,555,4,7,8,1,1,1,1,5,5,5,7,7,8,8,9,6,33,32])

15

In [89]:
def generate2D_array(x,y):
    array = []
    for i in range(x):
        rows = []
        for j in range(y):
            rows.append(i*j)
        array.append(rows)
    return array

In [90]:
generate2D_array(6,5)

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8],
 [0, 3, 6, 9, 12],
 [0, 4, 8, 12, 16],
 [0, 5, 10, 15, 20]]

In [91]:
def sortingstring(string):
    output = ",".join(sorted(string.split(",")))
    return output

In [92]:
sortingstring("without,hello,bag,world")

'bag,hello,without,world'

In [93]:
def calculate_string(string):
    n = 0
    l = 0
    for i in string:
        if i.isdigit():
            n += 1
        if i.isalpha():
            l += 1
    return f"LETTERS:{l} \n DIGITS:{n}"

In [94]:
calculate_string("hello world! 123, yash mohite1418")

'LETTERS:20 \n DIGITS:7'

In [95]:
def capital_index(string):
    output = []
    for i in string:
        if i.isupper():
            output.append(string.index(i))
    return output

In [96]:
capital_index("Yash MOhite")

[0, 5, 6]

In [97]:
def missingNumber(lst):
    for i in range(1,1000000):
        if i not in lst:
            return f"Missing values: {i}"

In [98]:
missingNumber([1,2,10])

'Missing values: 3'

In [101]:
def towerOFhanoi(n,source,auxilary,target):
    if n == 1:
        print(f"Move disk 1 from {source} to {target}")
        return 
    towerOFhanoi(n-1,source,target,auxilary)
    print(f"Move disk {n} from {source} to {target}")
    towerOFhanoi(n-1, auxilary, source, target)

In [107]:
towerOFhanoi(2,"A","B","C")

Move disk 1 from A to B
Move disk 2 from A to C
Move disk 1 from B to C

In [131]:
def pelendrome(string):
    if string != string[::-1]:
        return f"Is Note a palindrome: {False}"
    else:
        return f"Is a palindrome: {True}"

In [138]:
pelendrome("malayalam")

'Is a palindrome: True'

In [139]:
def bubbleSort(num):
    n = len(num)
    for i in range(n):
        for j in range(n-i-1):
            if num[j] > num[j+1]:
                num[j],num[j+1] = num[j+1],num[j]
    return num

In [141]:
bubbleSort([1,5,8,9,6,2,3])

[1, 2, 3, 5, 6, 8, 9]

In [142]:
def sortList(lst):
    output = sorted(lst)
    return output

In [143]:
sortList([1,5,8,9,6,2,3])

[1, 2, 3, 5, 6, 8, 9]