In [1]:
st = "yash mohite"
wovel  = ["a","e","i","o","u"]# pick volels from input
pick = []

for i in st:
    if i in wovel:
        pick.append(i)

In [2]:
print(set(pick))

{'o', 'i', 'a', 'e'}

In [3]:
lst = [10,20,30,4,50,89,45,"yash","isha",2.0,3.5,4.8]
# saprate int,str,flot
i1 = []
s = []
f = []

for i in lst:
    if type(i) == int:
        i1.append(i)
    elif type(i) == str:
        s.append(i)
    elif type(i) == float:
        f.append(i)

In [4]:
i1

[10, 20, 30, 4, 50, 89, 45]

In [5]:
s

['yash', 'isha']

In [6]:
f

[2.0, 3.5, 4.8]

In [7]:
lst1 = [10,20,30,4,4,4,5,5,6,6,7,9,8,50,89,45,"yash","yash","isha",2.0,3.5,4.8]
duplicet = []
# remove duplicets

for i in lst1:
    if lst1.count(i) >1:
        duplicet.append(i)
print(set(duplicet))

{4, 5, 6, 'yash'}

In [8]:
lst2 = set([10,20,30,4,4,4,5,5,6,6,7,9,8,50,89,45,"yash","yash","isha",2.0,3.5,4.8])
print(lst2)

{2.0, 3.5, 4, 5, 6, 7, 8, 9, 10, 4.8, 45, 'isha', 50, 20, 'yash', 89, 30}

In [9]:
def strmultiply(lm):
    m=1
    
    for i in lm:
        if type(i) == int or type(i) == float:
            m=m*i
    return m
strmultiply(lst2)

2441601792000000.0

In [10]:
w = [10, 20, 30, 4, 50, 89, 45]
def addition(n):
    a = 1
    for i in n:
        if type(i) == int or type(i) == float:
            a=a+i
    return a

In [11]:
print(addition(w))

249

In [12]:
sample_list = [87,45,41,65,94,41,99,94]
s = set(sample_list)
#print(s)
t = tuple(s)
print(t)
print(min(t))
print(max(t))

(65, 99, 41, 45, 87, 94)
41
99

In [13]:
lam = lambda x,y: x*y

In [14]:
lam(5,5)

25

In [15]:
lam2 = lambda x: x+10

In [16]:
lam2(5)

15

In [17]:
le = [("yash",99),("isha",80),("ankita",50),("patade",25)]
lam3 = lambda x: sorted(x) #sort list using lambda
lam3(le)

[('ankita', 50), ('isha', 80), ('patade', 25), ('yash', 99)]

In [18]:
import datetime

now = datetime.datetime.now()

print(now)

year = lambda x:x.year
month = lambda x:x.month
day = lambda x:x.day
tim = lambda x:x.time()

print(year(now))
print(month(now))
print(day(now))
print(tim(now))

2022-12-29 13:51:10.383088
2022
12
29
13:51:10.383088

In [19]:
sq = lambda x,y: x**y
print(sq(2,8))

256

In [20]:
lx = [10, 20, 30, 4, 50, 89, 45,5]


eo = list(filter(lambda x: x%2 == 0,lx))

od = list(filter(lambda x:x%2 != 0,lx))

In [21]:
print(eo,"even number")
print(od,"odd number")

[10, 20, 30, 4, 50] even number
[89, 45, 5] odd number

In [22]:
print(od,"odd number")

[89, 45, 5] odd number

In [23]:
def add(x):
    return x*x#using map function take function and iterable object

In [24]:
m = list(map(add,lx))

In [25]:
print(m)

[100, 400, 900, 16, 2500, 7921, 2025, 25]

In [26]:
def UL(s):
    return str(s).upper(),str(s).lower()

In [27]:
y = ["yash"]
d = list(map(UL,y))# convert in upper and lower case

In [28]:
print(d)

[('YASH', 'yash')]

In [29]:
st = "hey my name is yash mohite and i had recently breakup with my bitch girlfriend she is a toxic bitch"

In [30]:
st[:300:3]

'h  miyhota h ct euwhyihife es x t'

In [32]:
st.upper()
st.split()

['hey',
 'my',
 'name',
 'is',
 'yash',
 'mohite',
 'and',
 'i',
 'had',
 'recently',
 'breakup',
 'with',
 'my',
 'bitch',
 'girlfriend',
 'she',
 'is',
 'a',
 'toxic',
 'bitch']

In [33]:
st.lower()

'hey my name is yash mohite and i had recently breakup with my bitch girlfriend she is a toxic bitch'

In [34]:
st.capitalize()

'Hey my name is yash mohite and i had recently breakup with my bitch girlfriend she is a toxic bitch'

In [35]:
st.isalnum()

False

In [36]:
st.isalpha()

False

In [37]:
m = "ineuron\ti\tu"

In [41]:
m.expandtabs()

'ineuron i       u'

In [42]:
# python is compile as well as interpriter language

In [43]:
st[::-1]

'hctib cixot a si ehs dneirflrig hctib ym htiw pukaerb yltnecer dah i dna etihom hsay si eman ym yeh'

In [75]:
y = [1,2,3,65,4,78,9],{"yash":34,"isha":"chutiya"}

In [88]:
li = []
for i in y:
    if type(i) == list:
        li.append(i)
        
for i in y:
    if type(i) == dict:
        print(i.values())

dict_values([34, 'chutiya'])

In [77]:
li

[[1, 2, 3, 65, 4, 78, 9]]

In [95]:
n = 7

for i in range(7):
    for j in range(i):
        print("a","b","c",end = " ")
    print()

a b c
a b c a b c
a b c a b c a b c
a b c a b c a b c a b c
a b c a b c a b c a b c a b c
a b c a b c a b c a b c a b c a b c