In [1]:
#creating function saprate string and int

def saprate_str_lst(lst):
    n = []
    s = []
    
    for i in lst:
        if type(i) == int:
             n.append(i)
                
        elif type(i) == str:
                s.append(i)  
                
    return n,s

In [2]:
(saprate_str_lst([1,2,3,5,4,78,"yash","isha","ankita","patade"]))

([1, 2, 3, 5, 4, 78], ['yash', 'isha', 'ankita', 'patade'])

In [3]:
# find vowels in in given list

def find_vowels(lst):
    vowels = ["a","e","i","o","u"]
    find = []
    
    
    for i in lst:
        for j in i:
            if j in vowels:
                find.append(j)
    return f"{lst} > find vowels: {find}"

In [4]:
print(find_vowels(["yash mohite"]))
print(find_vowels(["isha suryavanshi"]))

['yash mohite'] > find vowels: ['a', 'o', 'i', 'e']
['isha suryavanshi'] > find vowels: ['i', 'a', 'u', 'a', 'a', 'i']

In [5]:
# saprate even and odd number

def even_odd(number):
    even = []
    odd = []
    
    for i in number:
        if i%2 == 0:
            even.append(i)
            
        else:
            odd.append(i)
    return f"even numbers: {even}  odd number: {odd}"

In [6]:
even_odd([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

'even numbers: [2, 4, 6, 8, 10]  odd number: [1, 3, 5, 7, 9]'

In [7]:
#check number is positive or negative

def positive_or_negative(number):
    
    if number > 0:
        return (f"{number} is positive")
    
    elif number < 0:
        return (f"{number} is negative")
    
    else:
        return ("number is Zero")

In [8]:
print(positive_or_negative(85))
print(positive_or_negative(-9))
print(positive_or_negative(0))

85 is positive
-9 is negative
number is Zero

In [9]:
# check number is even or odd

def even_odd(num):
    
    if num%2 == 0:
        return f"{num} is even"
    
    else:
        return f"{num} is odd"

In [10]:
print(even_odd(45))
print(even_odd(100))
print(even_odd(0))

45 is odd
100 is even
0 is even

In [11]:
#che3ck prime number

def check_primenumber(num):
    
    flag = False
    for i in range(2,num):
        if num%i == 0:
            flag = True
            
    if not flag:
        return f"{num} is prime number"
    else:
        return f"{num} is not prime number"

In [12]:
print(check_primenumber(-100))
print(check_primenumber(100))
print(check_primenumber(5))

-100 is prime number
100 is not prime number
5 is prime number

In [13]:
# find Factorial number

def factorial(num):
    
    if num == 0:
        return 1
    
    else:
        return num * factorial(num-1)

In [14]:
print(factorial(4))
print(factorial(0))
print(factorial(7))
print(factorial(18))

24
1
5040
6402373705728000

In [15]:
# fibonaci swquence

def fibonaci(number):
    
        if number == 0:
            return 0
        
        elif number == 1:
            return 1
        
        else:
            return fibonaci(number-1)+fibonaci(number-2)

In [16]:
for i in range(1,15):
    print(fibonaci(i),end=" ")

1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [17]:
#Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal ?
def convert(number):
    return f"binary number:{bin(number)}, octal number:{oct(number)}, hexadecimal number:{hex(number)}"

In [18]:
print(convert(105))
print(convert(10))
print(convert(10248))

binary number:0b1101001, octal number:0o151, hexadecimal number:0x69
binary number:0b1010, octal number:0o12, hexadecimal number:0xa
binary number:0b10100000001000, octal number:0o24010, hexadecimal number:0x2808

In [19]:
#make calculater

def calculater():
    x = int(input("enter number"))
    y = int(input("enter number"))
    operator = input("enter operator")
    
    if operator == "+":
        return x+y
    
    elif operator == "-":
        return x-y
    
    elif operator == "*":
        return x*y
    
    elif operator == "/":
        return x/y
    
    elif operator == "%":
        return x%y
    
    else:
        return "invalid operator"

In [20]:
calculater()

enter number789
enter number124
enter operator/

6.362903225806452

In [21]:
#print fibonaci

def genfibonacci(number):
    
    if number == 0:
        return 0
    
    elif number == 1:
        return 1
    
    else:
        return genfibonacci(number-1) + genfibonacci(number-2)

In [22]:
for i in range(14):
    print(genfibonacci(i),end=",")

0,1,1,2,3,5,8,13,21,34,55,89,144,233,

In [23]:
# find factorial

def factorial_x(num):
    
    if num == 1:
        return 1
    
    else: 
        return num * factorial_x(num-1)

In [24]:
print(factorial_x(8))
print(factorial_x(9))
print(factorial_x(20))
print(factorial_x(18))

40320
362880
2432902008176640000
6402373705728000

In [25]:
# Python Program to find sum of Array

def sum_array(lst):
    return sum(lst)

In [26]:
print(sum_array([1,2,3,4,5,7,8,9,0]))
print(sum_array([10,20,45,78,]))
print(sum_array([100,500,78,14]))

39
153
692

In [27]:
#Python Program to find Largest element in an Array ?

def MAX_array(lst):
    return f"{lst} > {max(lst)}"

In [28]:
print(MAX_array([100,500,78,14]))
print(MAX_array([10,20,45,78,]))
print(MAX_array([1,2,3,4,5,7,8,9,0]))

[100, 500, 78, 14] > 500
[10, 20, 45, 78] > 78
[1, 2, 3, 4, 5, 7, 8, 9, 0] > 9

In [29]:
def split_array(arr,n):
    first_part = arr[:n]
    second_part = arr[n:]
    
    return second_part + first_part

In [30]:
print(split_array([1,2,5,4,7,8,],2))
print(split_array([1,2,5,4,7,8,],4))
print(split_array([1,2,5,4,7,8,],1))

[5, 4, 7, 8, 1, 2]
[7, 8, 1, 2, 5, 4]
[2, 5, 4, 7, 8, 1]

In [31]:
# add two matrix

x = [[1,2,3,5],
    [7,8,9,4],
    [2,7,9,6]]

y = [[9,8,7,4],
    [4,5,6,1],
    [2,1,3,5]]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(x)):
    for j in range(len(y)):
        result[i][j] = x[i][j] + y[i][j]
        
for i in result:
    print(i)

[10, 10, 10, 0]
[11, 13, 15, 0]
[4, 8, 12, 0]

In [32]:
# multiply two matrix

x = [[1,2,3,5],
    [7,8,9,4],
    [2,7,9,6]]

y = [[9,8,7,4],
    [4,5,6,1],
    [2,1,3,5]]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(x)):
    for j in range(len(y)):
        result[i][j] = x[i][j] * y[i][j]
        
for i in result:
    print(i)

[9, 16, 21, 0]
[28, 40, 54, 0]
[4, 7, 27, 0]

In [33]:
def sort_wordes(string):
    s = string.split(" ")
    
    for i in range(len(s)):
        so = sorted(s)
        return " ".join(so)

In [34]:
print(sort_wordes("the Quick brown fox jumPs over the lazY Dog".lower()))
print(sort_wordes("yash mohite is a good boy".lower()))
print(sort_wordes("this is me and i am a god okay madarchoad".lower()))

brown dog fox jumps lazy over quick the the
a boy good is mohite yash
a am and god i is madarchoad me okay this

In [35]:
# Python Program to remove Punctuations From a String 
import string
def remove_punc(s):
    
    remove = str.maketrans("","",string.punctuation)
    no_p = s.translate(remove)
    return no_p

In [36]:
print(remove_punc("!@#$yash$@mohite"))
print(remove_punc("Hello! How are you today? #good"))

yashmohite
Hello How are you today good

In [37]:

#Python Program to find sum of elements in a list ?
def find_sum(lst):
    n = 0
    for i in lst:
        if type(i) == int:
             n = i+n
    return f"{lst} > {n}"

In [38]:
print(find_sum([1,2,3,4,5]))
print(find_sum([4,7,88,4,5,97,1,2]))

[1, 2, 3, 4, 5] > 15
[4, 7, 88, 4, 5, 97, 1, 2] > 208

In [39]:
# Python Program to multiply all numbers in the list ?

def find_multi(lst):
    n = 1
    
    for i in lst:
        if type(i) == int:
            n = i*n
    return  f"{lst} > {n}"

In [40]:
print(find_multi([1,2,3,4,5]))
print(find_multi([4,7,88,4,5,97,1,2]))

[1, 2, 3, 4, 5] > 120
[4, 7, 88, 4, 5, 97, 1, 2] > 9560320

In [41]:
def find_smallest_number(lst):
    return f"{lst} > {min(lst)}"

In [42]:
print(find_smallest_number([1,2,3,4,5]))
print(find_smallest_number([4,7,88,4,5,97,2]))

[1, 2, 3, 4, 5] > 1
[4, 7, 88, 4, 5, 97, 2] > 2

In [43]:
def find_largest_number(lst):
    return f"{lst} > {max(lst)}"

In [44]:
print(find_largest_number([1,2,3,4,5]))
print(find_largest_number([4,7,88,4,5,97,2]))

[1, 2, 3, 4, 5] > 5
[4, 7, 88, 4, 5, 97, 2] > 97

In [45]:
#find even number

def find_even(lst):
    l = []
    for i in lst:
        if i%2 == 0:
            l.append(i)
    return f"{lst} > even numbers:{l}"

In [46]:
find_even([99,100,478,12,99,88,222,45,60,98])

'[99, 100, 478, 12, 99, 88, 222, 45, 60, 98] > even numbers:[100, 478, 12, 88, 222, 60, 98]'

In [47]:
## Python Program to find N largest elements in the list ?

def n_largest_number(num,n):
    num.sort(reverse=True)
    return f"{num} > largest number in list:{num[:n]}"

In [48]:
n_largest_number([99,100,478,12,99,88,222,45,60,98],4)

'[478, 222, 100, 99, 99, 98, 88, 60, 45, 12] > largest number in list:[478, 222, 100, 99]'

In [49]:
# find odd
def find_odd(lst):
    l = []
    for i in lst:
        if i%2 != 0:
            l.append(i)
    return f"{lst} > odd numbers:{l}"

In [50]:
find_odd([99,100,478,12,99,88,222,45,60,98])

'[99, 100, 478, 12, 99, 88, 222, 45, 60, 98] > odd numbers:[99, 99, 45]'

In [51]:
#Write a Python Program to count occurences of an element in a list ?

def repitation(lst):
    
    for i in lst:
        if lst.count(i) > 1:
            r = print("repited number",i,end=" ")
    return r

In [52]:
repitation([111,2,3,6,555,4,7,8,1,1,1,1,5,5,5,7,7,8,8,9,6,33,32])

repited number 6 repited number 7 repited number 8 repited number 1 repited number 1 repited number 1 repited number 1 repited number 5 repited number 5 repited number 5 repited number 7 repited number 7 repited number 8 repited number 8 repited number 6

In [53]:
#generat array

def gen_array(x,y):
    array = []
    
    for i in range(x):
        row = []
        
        for j in range(y):
            row.append(i*j)
        array.append(row)
    return array

In [54]:
gen_array(8,4)

[[0, 0, 0, 0],
 [0, 1, 2, 3],
 [0, 2, 4, 6],
 [0, 3, 6, 9],
 [0, 4, 8, 12],
 [0, 5, 10, 15],
 [0, 6, 12, 18],
 [0, 7, 14, 21]]

In [55]:
#sorting given string by comma

def sortingString(string):
    outpur = ",".join(sorted(string.split(",")))
    return outpur

In [56]:
print(sortingString("without,hello,bag,world"))
print(sortingString("sequence,after,sorting,them,alphabetically"))

bag,hello,without,world
after,alphabetically,sequence,sorting,them

In [57]:
def removesortString(string):
    
    output = " ".join(sorted(set(string.split(" "))))
    return output

In [58]:
print(removesortString("hello world and practice makes perfect and hello world again"))
print(removesortString("all duplicate words and sorting them alphanumerically"))

again and hello makes perfect practice world
all alphanumerically and duplicate sorting them words

In [59]:
def calculate_str(string):
    
    l = 0
    d = 0
    
    for i in string:
        if i.isalpha():
            l=l+1
        if i.isdigit():
            d=d+1
    return f"LETTERS:{l} \n DIGITS:{d}"

In [60]:
print(calculate_str("hello world! 123"))
print(calculate_str("again and hello makes perfect practice world 147895"))
print(calculate_str("yash mohite1418"))

LETTERS:10
 DIGITS:3
LETTERS:38
 DIGITS:6
LETTERS:10
 DIGITS:4

In [61]:
#generat sentence
def gen(a,b,c):
    
    for i in a:
        for j in b:
            for k in c:
                return f"{i} {j} {k}"

In [62]:
print(gen(['I','You'],['Play','Love'],['Hockey','Football']))

I Play Hockey

In [63]:
#generat division by 5 and 7 
def showDivision(num):
    
    for i in range(0,num):
        if i%5 == 0 and i%7 == 0:
            yield i

In [64]:
for i in showDivision(100):
    print(i,end=" ")

0 35 70

In [65]:
#generat even number 
def generat_even(num):
    for i in range(0,num):
        if i%2 == 0:
            yield i

In [66]:
for i in generat_even(22):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [67]:
# generat fibonacci

def fibo(number):
    if number == 0:
        return 0
    
    elif number == 1:
        return 1
    
    else:
        return fibo(number - 1) + fibo(number - 2)

In [68]:
for i in range(1,11):
    print(fibo(i),end = " ")

1 1 2 3 5 8 13 21 34 55

In [69]:
# saparate name from email

def saprate_email(string):
    output = string.split("@")
    return f"{string} > username: {output[0]}"

In [70]:
print(saprate_email("mohite.yassh@gmail.com"))
print(saprate_email("ishasurivanshi@gmil.com"))
print(saprate_email("john@google.com"))

mohite.yassh@gmail.com > username: mohite.yassh
ishasurivanshi@gmil.com > username: ishasurivanshi
john@google.com > username: john

In [71]:
# creat function give  "in... in... incredible?" string
def stutter_words(string):
    output = string.replace(string[:2],((string[:2]+"...")*2) + string[:2])+"?"
    return f"{string} > {output}"

In [72]:
print(stutter_words("incredible"))
print(stutter_words("outstanding"))
print(stutter_words("isha"))

incredible > in...in...incredible?
outstanding > ou...ou...outstanding?
isha > is...is...isha?

In [73]:
# convert binary number
def get_binary(num):
    output = bin(num)[2:] #replace("0b","")
    return f"binary of:{num} > {output}"

In [74]:
print(get_binary(5))
print(get_binary(2))
print(get_binary(1418))

binary of:5 > 101
binary of:2 > 10
binary of:1418 > 10110001010

In [75]:
#Examples: evenly_divisible(1, 10, 20) ➞ 0 # No number between 1 and 10 can be evenly divided by 20. evenly_divisible(1, 10, 2) ➞ 30 # 2 + 4 + 6 + 8 + 10 = 30 .,
#evenly_divisible(1, 10, 3) ➞ 18 # 3 + 6 + 9 = 18
def evenlyDivisible(a,b,c):
    output = []
    
    for i in range(a,b):
        if i%c ==0:
            output.append(i)
    return f"{a,b,c} > {sum(output)}"

In [76]:
print(evenlyDivisible(1,200,10))
print(evenlyDivisible(1,10,3))
print(evenlyDivisible(1,10,2))
print(evenlyDivisible(1,48,6))

(1, 200, 10) > 1900
(1, 10, 3) > 18
(1, 10, 2) > 20
(1, 48, 6) > 168

In [77]:
#Examples: correct_signs("3 < 7 < 11") ➞ True correct_signs("13 > 44 > 33 > 1") 
#➞ False correct_signs("1 < 2 < 6 < 9 > 3") ➞ True
def correct_Signs(num):
    output = eval(num)
    return f"{num} > {output}"

In [78]:
print(correct_Signs("3<7<11"))
print(correct_Signs("13 > 44 > 33 > 1"))
print(correct_Signs("1 < 2 < 6 < 9 > 3"))

3<7<11 > True
13 > 44 > 33 > 1 > False
1 < 2 < 6 < 9 > 3 > True

In [79]:
# a function that replaces all the vowels in a string with a specified 
#character ?

def replaceVowels(string,r):
    vowels = ["a","e","i","o","u"]
    for i in string:
        if i in vowels:
            string = string.replace(i,r)
    return f"Vowels replace by special character: {string}: {r}"

In [80]:
print(replaceVowels("the aardvark","#"))
print(replaceVowels("minnie mouse","?"))
print(replaceVowels("shakespeare","*"))
print(replaceVowels("yash mohite","$"))

Vowels replace by special character: th# ##rdv#rk: #
Vowels replace by special character: m?nn?? m??s?: ?
Vowels replace by special character: sh*k*sp**r*: *
Vowels replace by special character: y$sh m$h$t$: $

In [81]:
#filter list in to int

def filter_list(lst):
    output = []
    
    for i in lst:
        if type(i) == int and i >=0:
            output.append(i)
    return f"{lst} > {output}"

In [82]:
print(filter_list([1, 2, "a", "b"]))
print(filter_list([1, "a", "b", 0, 15]))
print(filter_list([1, 2, "aasf", "1", "123", 123]))
print(filter_list(["yash",1,2,3,0,4,-47]))

[1, 2, 'a', 'b'] > [1, 2]
[1, 'a', 'b', 0, 15] > [1, 0, 15]
[1, 2, 'aasf', '1', '123', 123] > [1, 2, 123]
['yash', 1, 2, 3, 0, 4, -47] > [1, 2, 3, 0, 4]

In [83]:
# take string give reversed and oposite case

def reverse(string):
    output = string[::-1].swapcase()
    return f"{string} > {output}"

In [84]:
print(reverse("Hello World"))
print(reverse("ReVeRsE"))
print(reverse("Radar"))
print(reverse("malayalam"))

Hello World > DLROw OLLEh
ReVeRsE > eSrEvEr
Radar > RADAr
malayalam > MALAYALAM

In [85]:
# move one type emement to end

def move_to_end(lst,n):
    firstend = []
    secondend = []
    
    for i in lst:
        if i == n:
            secondend.append(i)
            
        else:
            firstend.append(i)
    firstend.extend(secondend)
    return f"{lst} > {firstend}"

In [86]:
print(move_to_end([1, 3, 2, 4, 4, 1], 1))
print(move_to_end([1,4,4,7,8,8,9,9,5,4,22,2], 9))
print(move_to_end(["a", "a", "a", "b"], "a" ))

[1, 3, 2, 4, 4, 1] > [3, 2, 4, 4, 1, 1]
[1, 4, 4, 7, 8, 8, 9, 9, 5, 4, 22, 2] > [1, 4, 4, 7, 8, 8, 5, 4, 22, 2, 9, 9]
['a', 'a', 'a', 'b'] > ['b', 'a', 'a', 'a']

In [87]:
#reapited character

def double_char(s):
    output = " "
    
    for i in s:
        output +=i*2

    return f"{s} > {output}"

In [88]:
print(double_char("string"))
print(double_char("yash mohite"))
print(double_char("12336547_"))

string >  ssttrriinngg
yash mohite >  yyaasshh  mmoohhiittee
12336547_ >  1122333366554477__

In [89]:
# show the capital index

def index_of_cap(string):
    output = []
    for i in string:
        if i.isupper():
            output.append(string.index(i))
    return f"{string} > {output}"

In [90]:
print(index_of_cap("Yash MOhite"))
print(index_of_cap("eDaBiT"))
print(index_of_cap("eQuINoX"))

Yash MOhite > [0, 5, 6]
eDaBiT > [1, 3, 5]
eQuINoX > [1, 3, 4, 6]

In [91]:
# filter list from given list

def filter_list(lst):
    output = []
    
    for i in lst:
        if type(i) == int:
            output.append(i)
    return f"{lst} > {output}"

In [92]:
print(filter_list([1, 2, 3, "a", "b", 4]))
print(filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]))
print(filter_list([1, 2, 3,"yahs",1478]))

[1, 2, 3, 'a', 'b', 4] > [1, 2, 3, 4]
['A', 0, 'Edabit', 1729, 'Python', '1729'] > [0, 1729]
[1, 2, 3, 'yahs', 1478] > [1, 2, 3, 1478]

In [93]:
#give index of lst

def add_index(lst):
    output = []
    
    for i in range(len(lst)):
        output.append(i+lst[i])
    return f"{lst} > {output}"

In [94]:
print(add_index([0,0,0,0,0]))
print(add_index([1,2,3,4,5]))
print(add_index([5,4,3,2,1]))

[0, 0, 0, 0, 0] > [0, 1, 2, 3, 4]
[1, 2, 3, 4, 5] > [1, 3, 5, 7, 9]
[5, 4, 3, 2, 1] > [5, 5, 5, 5, 5]

In [95]:
#find missing number

def missing_number(lst):
    for i in range(1,10000):
        if i not in lst:
            return f"{lst} > missing number: {i}"

In [96]:
print(missing_number([1, 2, 3, 4, 6, 7, 8, 9, 10]))
print(missing_number([7, 2, 3, 6, 5, 9, 1, 4, 8]))
print(missing_number([101,4,8,9,54,7,2,3,6,11,5,10,1]))
print(missing_number([10, 5, 1, 2, 4, 6, 8, 3, 9]))

[1, 2, 3, 4, 6, 7, 8, 9, 10] > missing number: 5
[7, 2, 3, 6, 5, 9, 1, 4, 8] > missing number: 10
[101, 4, 8, 9, 54, 7, 2, 3, 6, 11, 5, 10, 1] > missing number: 12
[10, 5, 1, 2, 4, 6, 8, 3, 9] > missing number: 7

In [97]:
# update list

def update_list(lst,n):
    
    if len(lst) > 1:
        lst.append(n)
        lst.remove(lst[0])
    else:
        print("no list has been selected")
    return f"Output > {lst}"

In [98]:
print(update_list([5, 6, 7, 8, 9],1000))
print(update_list([7, 6, 3, 23, 17], 10))
print(update_list([],1))
print(update_list([1, 10, 20, 42 ], 6))

Output > [6, 7, 8, 9, 1000]
Output > [6, 3, 23, 17, 10]
no list has been selected
Output > []
Output > [10, 20, 42, 6]

In [99]:
#some dict value

def get_budget(d):
    s = 0
    
    for i in d:
        s=s+i["budget"]
    return f"sum of budget is {s}"

In [100]:
print(get_budget([
    { "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]))

print(get_budget([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]))

sum of budget is 65700
sum of budget is 62600

In [101]:
#sorted i  alphabetical oder

def alplabet_soup(string):
    output = "".join(sorted(string))
    return f"{string} > {output}"

In [102]:
print(alplabet_soup("hello"))
print(alplabet_soup("edabit"))
print(alplabet_soup("hacker"))
print(alplabet_soup("geek"))
print(alplabet_soup("javascript"))

hello > ehllo
edabit > abdeit
hacker > acehkr
geek > eegk
javascript > aacijprstv

In [103]:
#symmetrical number in reverse oder

def is_symmetrical(num):
    if str(num) == str(num)[::-1]:
        return f"{num} > {True}"
    
    else:
        return f"{num} > {False}"

In [104]:
print(is_symmetrical(7227))
print(is_symmetrical(123456))
print(is_symmetrical(4444))
print(is_symmetrical(111214711))

7227 > True
123456 > False
4444 > True
111214711 > False

In [105]:
#multiply num

def multiply_num(string):
    output_str = string.replace("","").split(",")
    output = 1
    
    for i in output_str:
        output*= int(i)
    return f"{string} > {output}"

In [106]:
print(multiply_num("2,3"))
print(multiply_num("1, 2, 3, 4"))
print(multiply_num("55, 475, 3, 0"))
print(multiply_num("10,-2"))

2,3 > 6
1, 2, 3, 4 > 24
55, 475, 3, 0 > 0
10,-2 > -20

In [107]:
#squre every digit 

def squre_digit(num):
    output = ""
    for i in str(num):
        output += str(int(i)**2)
    return f"{num} > {output}"

In [108]:
print(squre_digit(9119))
print(squre_digit(2483))
print(squre_digit(3212))
print(squre_digit(1418))
print(squre_digit(1424))

9119 > 811181
2483 > 416649
3212 > 9414
1418 > 116164
1424 > 116416

In [109]:
#sotrs the list remove duplicets

def setify(lst):
    output = sorted(set(lst))
    return f"{lst} > {output}"

In [110]:
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([11,4,7,11,7,7,8,99,9,9,6,6]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 3, 5, 5] > [1, 3, 5]
[4, 4, 4, 4] > [4]
[11, 4, 7, 11, 7, 7, 8, 99, 9, 9, 6, 6] > [4, 6, 7, 8, 9, 11, 99]
[5, 7, 8, 9, 10, 15] > [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] > [1, 2, 3]

In [111]:
#return mean of all digits

def mean(num):
    sum = 0
    count = 0
    
    for i in str(num):
        sum += int(i)
        count = count+1
    return f"{num} > {sum/count}"

In [112]:
mean(42)

'42 > 3.0'

In [113]:
# create function take list and five number

def amplify(num):
    output = []
    for i in range(1,num+1):
        if i%4 == 0:
            output.append(i*10)
        else:
            output.append(i)
    return f"{num} > {output}"

In [114]:
print(amplify(4))
print(amplify(3))
print(amplify(25))
print(amplify(15))

4 > [1, 2, 3, 40]
3 > [1, 2, 3]
25 > [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]
15 > [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15]

In [117]:
#give unique number

def unique(lst):
    output = []
    
    for i in lst:
        if lst.count(i) <= 1:
            output.append(i)
    return f"{lst} > {output}"

In [118]:
print(unique([3, 3, 3, 7, 3, 3]))
print(unique([0, 0, 0.77, 0, 0]))
print(unique([0, 1, 1, 1, 1, 1, 1, 1]))
print(unique([5,44,7,8,8,8]))

[3, 3, 3, 7, 3, 3] > [7]
[0, 0, 0.77, 0, 0] > [0.77]
[0, 1, 1, 1, 1, 1, 1, 1] > [0]
[5, 44, 7, 8, 8, 8] > [5, 44, 7]

In [122]:
# string shortest to longest

def sort_by_length(lst):
    output = sorted(lst,key = len)
    return f"{lst} > > {output}"

In [126]:
print(sort_by_length(["Google", "Apple", "Microsoft"]))
print(sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"]))
print(sort_by_length(["Turing", "Einstein", "Jung"]))

['Google', 'Apple', 'Microsoft'] > > ['Apple', 'Google', 'Microsoft']
['Leonardo', 'Michelangelo', 'Raphael', 'Donatello'] > > ['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
['Turing', 'Einstein', 'Jung'] > > ['Jung', 'Turing', 'Einstein']

In [127]:
#Notes: Your function must return 0, 2 or 3.

def equal(a,b,c):
    if a == b == c:
        return f"{a,b,c} > {0}"
    elif a == b or b == c:
        return  f"{a,b,c} > {2}"
    
    else:
        return f"{a,b,c} > {3}"

In [129]:
print(equal(3, 4, 3))
print(equal(1,1,1))
print(equal(3,4,1))

(3, 4, 3) > 3
(1, 1, 1) > 0
(3, 4, 1) > 3

In [136]:
# convert ditc key value in to list

def dict_to_list(d):
    output = []
    
    for key,value in d.items():
        output.append((key,value))
    return f"{d} > {sorted(output)}"

In [139]:
print(dict_to_list({ "D": 1, "B": 2, "C": 3 }))
print(dict_to_list({"likes": 2, "dislikes": 3, "followers": 10 }))

{'D': 1, 'B': 2, 'C': 3} > [('B', 2), ('C', 3), ('D', 1)]
{'likes': 2, 'dislikes': 3, 'followers': 10} > [('dislikes', 3), ('followers', 10), ('likes', 2)]

In [140]:
# convert list key value in to dict

def mapping(lst):
    output = {}
    
    for i in lst:
        output[i] = i.upper()
    return f"{lst}  >  {output}"

In [145]:
print(mapping(["p", "s"]))

print(mapping(["a", "b", "c"]))

print(mapping(["a", "v", "y", "z"]))

['p', 's']  >  {'p': 'P', 's': 'S'}
['a', 'b', 'c']  >  {'a': 'A', 'b': 'B', 'c': 'C'}
['a', 'v', 'y', 'z']  >  {'a': 'A', 'v': 'V', 'y': 'Y', 'z': 'Z'}

In [146]:
#a function, that replaces all vowels in a string with a specified vowel.

def vowel_replace(string,v):
    vowels = ['a','e','i','o','u']
    
    for i in string:
        if i in vowels:
            string = string.replace(i,v)
    return f"output: {string}"

In [152]:
print(vowel_replace("apples and bananas", "u"))
print(vowel_replace("cheese casserole", "o"))
print(vowel_replace("stuffed jalapeno poppers", "e"))

output: upplus und bununus
output: chooso cossorolo
output: steffed jelepene peppers

In [157]:
def ascii_capitalize(string):
    output = ""
    
    for i in range(len(string)):
        c = string[i]
        if ord(c)%2 == 0:
            output += c.upper()
        else :
            output += c.lower()
            
    return  f"{string} > {output}"

In [158]:
print(ascii_capitalize("to be or not to be!"))
print(ascii_capitalize("THE LITTLE MERMAID")) 
print(ascii_capitalize("Oh what a beautiful morning."))

to be or not to be! > To Be oR NoT To Be!
THE LITTLE MERMAID > THe LiTTLe meRmaiD
Oh what a beautiful morning. > oH wHaT a BeauTiFuL moRNiNg.