In [1]:
f = open("yash.txt.txt","r")

In [2]:
f.read()

'hey!\nmy name is yash mohite and i am learning data science and matchine learning \nand right now i m watching preaton breakand then i will watch pornand then i will watch porn'

In [3]:
f.tell()

176

In [4]:
f.close()

In [5]:
with open("yash.txt.txt", "r") as f:
    f.read()
    pass

In [6]:
data = "i m yash mohite i love isha and i ma studing data science"
f = open("ds.txt","w")

In [7]:
f.write(data)

57

In [8]:
print("done")

done

In [9]:
f.close()

In [10]:
a = ["yash","isha","ankita","xyz"]
for i in a:
    print(i)

yash
isha
ankita
xyz

In [11]:
b = iter(a)

In [12]:
next(b)

'yash'

In [13]:
def multi(n):
    for i in range(n):
        yield i*9

In [14]:
a = multi(30)

In [15]:
for i in a:
    print(i)

0
9
18
27
36
45
54
63
72
81
90
99
108
117
126
135
144
153
162
171
180
189
198
207
216
225
234
243
252
261

In [16]:
def eg():
    yield 4+5
    print("line one")
    
    yield 8*22
    print("line two")

In [17]:
for i in eg():
    print(i)

9
line one
176
line two

In [18]:
number = [1,4,5,8,777,98,9,6,584,2,3,6]

In [19]:
num1 = iter(number)

In [20]:
next(num1)

1

In [21]:
# string is a iterable object not a iterator
# tuple is a iterable object not a iterator

In [22]:
t= (1,2,3,6,5,4,7) #we can convert tuple in iterator using iter function 
next(iter(t))

1

In [23]:
 r = range(6)

In [24]:
r = iter(r)
next(r)

0

In [25]:
aa = "yash","mohite","isha"

In [26]:
aa = iter(aa)

In [27]:
next(aa)

'yash'

In [28]:
seta = {1,2,3,6,4,7,8}

In [29]:
seta = iter(seta)

In [30]:
next(seta)

1

In [31]:
dict1 = {"a":1,"b":2,"c":3,"e":4}

In [32]:
dict1 = iter(dict1)

In [33]:
next(dict1)

'a'

In [34]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:
def gencub(n):
    l = []
    for i in range(n):
        l.append(i**3) #this is bad way to generat use more meamory
    return l

In [36]:
gencub(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [37]:
def gencub1(n):
    for i in range(n):
# here we use generator to generate on thr fly values
        yield i**3

In [38]:
 g = gencub1(10)

In [39]:
for i in g:
    print(i)

0
1
8
27
64
125
216
343
512
729

In [62]:
def fibonaci(n):
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)#  generate fibonaci numbers
        a,b = b , a+b
    return output

In [66]:
fibonaci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]