In [15]:
st = "yash mohite"
wovel  = ["a","e","i","o","u"]# pick volels from input
pick = []

for i in st:
    if i in wovel:
        pick.append(i)

In [17]:
print(set(pick))

{'e', 'i', 'a', 'o'}

In [18]:
lst = [10,20,30,4,50,89,45,"yash","isha",2.0,3.5,4.8]
# saprate int,str,flot
i1 = []
s = []
f = []

for i in lst:
    if type(i) == int:
        i1.append(i)
    elif type(i) == str:
        s.append(i)
    elif type(i) == float:
        f.append(i)

In [19]:
i1

[10, 20, 30, 4, 50, 89, 45]

In [20]:
s

['yash', 'isha']

In [21]:
f

[2.0, 3.5, 4.8]

In [36]:
lst1 = [10,20,30,4,4,4,5,5,6,6,7,9,8,50,89,45,"yash","yash","isha",2.0,3.5,4.8]
duplicet = []
# remove duplicets

for i in lst1:
    if lst1.count(i) >1:
        duplicet.append(i)
print(set(duplicet))

{'yash', 4, 5, 6}

In [38]:
lst2 = set([10,20,30,4,4,4,5,5,6,6,7,9,8,50,89,45,"yash","yash","isha",2.0,3.5,4.8])
print(lst2)

{2.0, 3.5, 4, 5, 6, 7, 8, 9, 10, 4.8, 45, 'yash', 50, 20, 89, 'isha', 30}

In [92]:
def strmultiply(lm):
    m=1
    
    for i in lm:
        if type(i) == int or type(i) == float:
            m=m*i
    return m

In [110]:
w = [10, 20, 30, 4, 50, 89, 45]
def addition(n):
    a = 1
    for i in n:
        if type(i) == int or type(i) == float:
            a=a+i
    return a

In [119]:
print(addition(w))

249

In [126]:
sample_list = [87,45,41,65,94,41,99,94]
s = set(sample_list)
#print(s)
t = tuple(s)
print(t)
print(min(t))
print(max(t))

(65, 99, 41, 45, 87, 94)
41
99

In [127]:
lam = lambda x,y: x*y

In [128]:
lam(5,5)

25

In [134]:
lam2 = lambda x: x+10

In [159]:
lam2(5)

15

In [165]:
le = [("yash",99),("isha",80),("ankita",50),("patade",25)]
lam3 = lambda x: sorted(x) #sort list using lambda
lam3(le)

[('ankita', 50), ('isha', 80), ('patade', 25), ('yash', 99)]

In [170]:
import datetime

now = datetime.datetime.now()

print(now)

year = lambda x:x.year
month = lambda x:x.month
day = lambda x:x.day
tim = lambda x:x.time()

print(year(now))
print(month(now))
print(day(now))
print(tim(now))

2022-12-27 21:39:16.265973
2022
12
27
21:39:16.265973

In [178]:
sq = lambda x,y: x**y
print(sq(2,8))

256

In [215]:
lx = [10, 20, 30, 4, 50, 89, 45,5]


eo = list(filter(lambda x: x%2 == 0,lx))

od = list(filter(lambda x:x%2 != 0,lx))

In [216]:
print(eo,"even number")
print(od,"odd number")

[10, 20, 30, 4, 50] even number
[89, 45, 5] odd number

In [217]:
print(od,"odd number")

[89, 45, 5] odd number

In [236]:
def add(x):
    return x*x#using map function take function and iterable object

In [237]:
m = list(map(add,lx))

In [238]:
print(m)

[100, 400, 900, 16, 2500, 7921, 2025, 25]

In [239]:
def UL(s):
    return str(s).upper(),str(s).lower()

In [247]:
y = ["yash"]
d = list(map(UL,y))# convert in upper and lower case

In [246]:
print(d)

[('YASH', 'yash')]