In [1]:
# 5numbers
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
# pattern stars
for i in range(5):
    print("*"*i)

*
**
***
****

In [3]:
rows = int(input("enter the row"))

for i in range(1,rows+1):
    for j in range(1,1+i):
        print("*",end="")
    print()

enter the row10
*
**
***
****
*****
******
*******
********
*********
**********

In [4]:
#squres
n = int(input())
print(n**2)

5
25

In [5]:
a = int(input("enter number"))
a1 = int(input("enter number"))
print(a+a1)

enter number5
enter number5
10

In [6]:
#sp ce
b = input()
c = input()
print(b+" "+c)

u
u
u u

In [7]:
s = input()
print(s[0:3])

5555
555

In [8]:
n = input('enter no')
c= 0
for i in (n):
    c+=int(i)
c

enter no58

13

In [9]:
# concanite
word1 =input()
word2 =input()
word3=input()
word4 =input()
word5 =input()
space = " "
stop = "."
print(word1+space+word2+space+word3+space+word4+space+word5+stop)

r
r
r
r
r
r r r r r.

In [10]:
date = input()
print(date[-4:])

r
r

In [11]:
number = int(input("enter no"))

for i in number:
    if (i) == ".":
        number.replace(".","")

enter not

ValueError: invalid literal for int() with base 10: 't'

In [12]:
d = lambda x,y:x**y

In [13]:
len(str(d(10,7)))

8

In [14]:
# made right angle tryangle
x = int(input())
y = int(input())
z = int(input())

if ((x**2 + y**2 == z**2)or
(y**2 + z**2 == x**2)or
(z**2+ x**2 == y**2)):
    print("yes")
else:
    print("no")

54
45
5
no

In [15]:
# remove a.e.i.o.u from list
txt = input("enter here: ")
lst = list(txt)
vols = ["a","e","i","o","u"]

pick = []

for i in lst:
    if i in vols:
        pick.append(i)
print("found vowels: ")
print(set(pick))

enter here: yash mohite
found vowels:
{'a', 'i', 'e', 'o'}

In [16]:
# find how is younger fron given bod
name1 = input("enter your name")
dob1 = input("enter your DoB")

name2 = input("enter your name")
dob2 = input("enter your DoB")
if dob1 == dob2:
    if dob1[-4:] != dob2[-4:]:
        print(f"yonger one: {name1}")
    else:
        print(f"older one: {name2}")
else:
    print(f"younger one is {name2}")

enter your name5
enter your DoB5
enter your name4
enter your DoB5
older one: 4

In [17]:
#check phone number
pn = input("enter the number")
a = False
if len(pn) == 10 and int(pn[0]) > 5 and pn.isdigit():
    for i in range((10)):
        if pn.count(pn[i]) < 8:
            a = True
            if pn[i]*6 in pn:
                a =False
                break
            else:
                break
if a:
    print("valid")
else:
    print("invalid")

enter the number5669874566
invalid

In [18]:
#own logic
pn = input("enter the number")

if len(pn) == 10 and int(pn[0]) > 5 and pn.isdigit():
    for i in range(10):
        if pn[i]*6 in pn:
            print("invalid number")
            break
        else:
            print("valid number")
            break
           
            
# else:
#     print("valid")

enter the number444

In [19]:
# count string words how many time
txt = input("enter text")#.split(" ")
s = input()

if s in txt:
    print("Yes")
    print(txt.count(s))
    
else:
    print("No")

enter text44
5
No

In [20]:
#creat function
def factorial(n):
    if n <0:
        return -1
    elif n == 0:
        return 1
        
    else:
        f=1
        for i in range(1,n+1):
            f*=i
        return f

In [21]:
factorial(5)

120

In [22]:
# check max and in function
def min_max(a):
    return min(a),max(a)

In [23]:
l=[1,2,3,6,5,4]
min_max(l)

(1, 6)

In [24]:
def file_reader(publi):
    with open ("public.txt.txt") as f: #function to reead the file
        lines = f.read()
        print(lines)

In [25]:
file_reader(l)

i m a yash mohite and i m writing code in this jupyter notebook.
so here is the code and i write the code by my own logic.

In [26]:
# find out who is in data science
rollno = input("Enter roll no: ")

if rollno[0] =="D" and rollno[1] == "S":
    print(True)
    print("From data science batch")
else:
    
    print(False)
    print("from other batch")

Enter roll no:

IndexError: string index out of range

In [27]:
#Crack the case NUMBER PLATE DECETED

noplate = input("Enter plate no")

if noplate[:4] == "TN07":
    print(True)
    print("NUMBER plate detected")
else:
    print(False)
    print("NUMBER plate not Detected")

Enter plate no
False
NUMBER plate not Detected

In [28]:
# split classs

n = int(input("enter no"))

for i in range(1,n+1,4):
    if n == i:
        print("sapphire")
        
for j in range(2,n+1,4):
    if n == j:
        print("peridet")
        
for k in range(3,n+1,4):
    if n == k:
        print("ruby")
        
for l in range(4,n+1,4):
    if n == l:
        print("emerald")

enter no

ValueError: invalid literal for int() with base 10: ''

In [29]:
backlog = float(input("enter backlock"))
cgpa = float(input("enter cgpa"))
                

if backlog <= 5 and cgpa >= 6:
    print(5*backlog)
else:
    print("not selected")

enter backlock

ValueError: could not convert string to float: ''

In [30]:
s = "malayalam"

In [31]:
s[::-1]

'malayalam'

In [32]:
# Strong passwoed

def Strong_password():
    simbol = "!@#$%^&*"
    
    username = input("enter user name")
    password = input("enter password")
    
    if type(username) != str:
        print("user name only take alphabits")
    elif password in simbol and password > 7 and len(password) == 7:
        print("correct password")
    else:
        print("incorrect password")

In [33]:
Strong_password()

enter user name
enter password

TypeError: '>' not supported between instances of 'str' and 'int'

In [34]:
from datetime import datetime

def log_datetime(func):
    def wrap():
        print(func.__name__,datetime.today())
        func()
    return wrap


@log_datetime
def daily_backup():
    return print("Dailed backup finish")

In [35]:
daily_backup()

daily_backup 2022-12-27 15:09:25.143705
Dailed backup finish

In [36]:
def add1(func):
    def add():
        print(func.__name__,5+6)
        func()
    return add

@add1
def print_statment():
    return print("this is addition")

In [37]:
print_statment()

print_statment 11
this is addition

In [38]:
odd_list = [1,2,2,6,5,8,789,45,99,9,9,]
l = []
# pick odd number
for i in odd_list:
    if odd_list.count(i) %2 != 0:
        if i not in l:
            l.append(i)

In [39]:
l

[1, 6, 5, 8, 789, 45, 99]

In [40]:
lst = [10,20,60,30,20,40,50,60,70,80,90,100]
l = []
#pick smaller then 50 no
for i in lst:
    if i < 50:
        l.append(i)

print(l)

[10, 20, 30, 20, 40]

In [41]:
a = [10,20,20,30,30,60,30,20,40,50,60,70,70,80,90,100]
r = []
# remove duplicate
for i in a:
    if a.count(i)>1:
        r.append(i)
print(set(r))

{70, 20, 30, 60}

In [42]:
import collections
smp = [10,20,20,30,30,60,30,20,40,50,60,70,70,80,90,100]
dup = []
# removev duplicats
for item,count in collections.Counter(smp).items():
    if count > 1:
        dup.append(item)
print(dup)

[20, 30, 60, 70]

In [43]:
def add(x,y):
    def inner(x,y):# concation function
        x = x + y
    return  (x + y) + "developer"

add(" yash "," mohite ")

' yash  mohite developer'

In [44]:
ls = [5,[10,15,[20,25,[30,35],40],45],50]

ls[:2][1][2][2][1] = 3500

In [45]:
ls

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

In [47]:
for i in range(1,11):
    for j in range(1,11):
        c =i*j
        print(c,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100